In [18]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Read the Excel File.
import pandas as pd
df = pd.read_excel('E Commerce Dataset.xlsx', sheet_name='E Comm')
df.head()

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,50001,1,4.0,Mobile Phone,3,6.0,Debit Card,Female,3.0,3,Laptop & Accessory,2,Single,9,1,11.0,1.0,1.0,5.0,159.93
1,50002,1,NaN,Phone,1,8.0,UPI,Male,3.0,4,Mobile,3,Single,7,1,15.0,0.0,1.0,0.0,120.90
2,50003,1,NaN,Phone,1,30.0,Debit Card,Male,2.0,4,Mobile,3,Single,6,1,14.0,0.0,1.0,3.0,120.28
3,50004,1,0.0,Phone,3,15.0,Debit Card,Male,2.0,4,Laptop & Accessory,5,Single,8,0,23.0,0.0,1.0,3.0,134.07
4,50005,1,0.0,Phone,1,12.0,CC,Male,NaN,3,Mobile,5,Single,3,0,11.0,1.0,1.0,3.0,129.60

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5630 entries, 0 to 5629
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CustomerID                   5630 non-null   int64
 1   Churn                        5630 non-null   int64
 2   Tenure                       5366 non-null   float64
 3   PreferredLoginDevice         5630 non-null   object
 4   CityTier                     5630 non-null   int64
 5   WarehouseToHome              5379 non-null   float64
 6   PreferredPaymentMode         5630 non-null   object
 7   Gender                       5630 non-null   object
 8   HourSpendOnApp               5375 non-null   float64
 9   NumberOfDeviceRegistered     5630 non-null   int64
 10  PreferedOrderCat             5630 non-null   object
 11  SatisfactionScore            5630 non-null   int64
 12  MaritalStatus                5630 non-null   object
 13  NumberOfAddress              5630 non-null   int64
 14  Complain                     5630 non-null   int64
 15  OrderAmountHikeFromlastYear  5365 non-null   float64
 16  CouponUsed                   5374 non-null   float64
 17  OrderCount                   5372 non-null   float64
 18  DaySinceLastOrder            5323 non-null   float64
 19  CashbackAmount               5630 non-null   float64
dtypes: float64(8), int64(7), object(5)
memory usage: 879.8+ KB

In [20]:
df.nunique()

CustomerID                     5630
Churn                             2
Tenure                           36
PreferredLoginDevice              3
CityTier                          3
WarehouseToHome                  34
PreferredPaymentMode              7
Gender                            2
HourSpendOnApp                    6
NumberOfDeviceRegistered          6
PreferedOrderCat                  6
SatisfactionScore                 5
MaritalStatus                     3
NumberOfAddress                  15
Complain                          2
OrderAmountHikeFromlastYear      16
CouponUsed                       17
OrderCount                       16
DaySinceLastOrder                22
CashbackAmount                 2586
dtype: int64

In [21]:
df_cleaned = df.dropna()
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3774 entries, 0 to 5629
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CustomerID                   3774 non-null   int64
 1   Churn                        3774 non-null   int64
 2   Tenure                       3774 non-null   float64
 3   PreferredLoginDevice         3774 non-null   object
 4   CityTier                     3774 non-null   int64
 5   WarehouseToHome              3774 non-null   float64
 6   PreferredPaymentMode         3774 non-null   object
 7   Gender                       3774 non-null   object
 8   HourSpendOnApp               3774 non-null   float64
 9   NumberOfDeviceRegistered     3774 non-null   int64
 10  PreferedOrderCat             3774 non-null   object
 11  SatisfactionScore            3774 non-null   int64
 12  MaritalStatus                3774 non-null   object
 13  NumberOfAddress              3774 non-null   int64
 14  Complain                     3774 non-null   int64
 15  OrderAmountHikeFromlastYear  3774 non-null   float64
 16  CouponUsed                   3774 non-null   float64
 17  OrderCount                   3774 non-null   float64
 18  DaySinceLastOrder            3774 non-null   float64
 19  CashbackAmount               3774 non-null   float64
dtypes: float64(8), int64(7), object(5)
memory usage: 619.2+ KB

In [22]:
# Find the perccentage of missing values in each column
round((df.isnull().sum()*100 / df.shape[0]),2)

# Missing values in each column are relatively low, roughly 5% on average. We can therefore impute the missing values

CustomerID                     0.00
Churn                          0.00
Tenure                         4.69
PreferredLoginDevice           0.00
CityTier                       0.00
WarehouseToHome                4.46
PreferredPaymentMode           0.00
Gender                         0.00
HourSpendOnApp                 4.53
NumberOfDeviceRegistered       0.00
PreferedOrderCat               0.00
SatisfactionScore              0.00
MaritalStatus                  0.00
NumberOfAddress                0.00
Complain                       0.00
OrderAmountHikeFromlastYear    4.71
CouponUsed                     4.55
OrderCount                     4.58
DaySinceLastOrder              5.45
CashbackAmount                 0.00
dtype: float64

In [23]:
# use the iterative imputer to fill missing values

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

imputer = IterativeImputer(max_iter=10, random_state=1)

columns_to_impute = ['Tenure', 'WarehouseToHome', 'HourSpendOnApp', 'OrderAmountHikeFromlastYear', 'CouponUsed', 
                     'OrderCount', 'DaySinceLastOrder']

df[columns_to_impute] = imputer.fit_transform(df[columns_to_impute])

In [24]:
# merge with original df
df_imputed = pd.DataFrame(df[columns_to_impute], columns=columns_to_impute)
df_imputed = df_imputed.round()

df_updated = pd.concat([df.drop(columns=columns_to_impute), df_imputed], axis=1)
df_updated.head()

,CustomerID,Churn,PreferredLoginDevice,CityTier,PreferredPaymentMode,Gender,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,CashbackAmount,Tenure,WarehouseToHome,HourSpendOnApp,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder
0,50001,1,Mobile Phone,3,Debit Card,Female,3,Laptop & Accessory,2,Single,9,1,159.93,4.0,6.0,3.0,11.0,1.0,1.0,5.0
1,50002,1,Phone,1,UPI,Male,4,Mobile,3,Single,7,1,120.90,8.0,8.0,3.0,15.0,0.0,1.0,0.0
2,50003,1,Phone,1,Debit Card,Male,4,Mobile,3,Single,6,1,120.28,9.0,30.0,2.0,14.0,0.0,1.0,3.0
3,50004,1,Phone,3,Debit Card,Male,4,Laptop & Accessory,5,Single,8,0,134.07,0.0,15.0,2.0,23.0,0.0,1.0,3.0
4,50005,1,Phone,1,CC,Male,3,Mobile,5,Single,3,0,129.60,0.0,12.0,3.0,11.0,1.0,1.0,3.0

In [25]:
df_updated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5630 entries, 0 to 5629
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CustomerID                   5630 non-null   int64
 1   Churn                        5630 non-null   int64
 2   PreferredLoginDevice         5630 non-null   object
 3   CityTier                     5630 non-null   int64
 4   PreferredPaymentMode         5630 non-null   object
 5   Gender                       5630 non-null   object
 6   NumberOfDeviceRegistered     5630 non-null   int64
 7   PreferedOrderCat             5630 non-null   object
 8   SatisfactionScore            5630 non-null   int64
 9   MaritalStatus                5630 non-null   object
 10  NumberOfAddress              5630 non-null   int64
 11  Complain                     5630 non-null   int64
 12  CashbackAmount               5630 non-null   float64
 13  Tenure                       5630 non-null   float64
 14  WarehouseToHome              5630 non-null   float64
 15  HourSpendOnApp               5630 non-null   float64
 16  OrderAmountHikeFromlastYear  5630 non-null   float64
 17  CouponUsed                   5630 non-null   float64
 18  OrderCount                   5630 non-null   float64
 19  DaySinceLastOrder            5630 non-null   float64
dtypes: float64(8), int64(7), object(5)
memory usage: 879.8+ KB

In [26]:
round((df_updated.isnull().sum()*100 / df.shape[0]),2)

CustomerID                     0.0
Churn                          0.0
PreferredLoginDevice           0.0
CityTier                       0.0
PreferredPaymentMode           0.0
Gender                         0.0
NumberOfDeviceRegistered       0.0
PreferedOrderCat               0.0
SatisfactionScore              0.0
MaritalStatus                  0.0
NumberOfAddress                0.0
Complain                       0.0
CashbackAmount                 0.0
Tenure                         0.0
WarehouseToHome                0.0
HourSpendOnApp                 0.0
OrderAmountHikeFromlastYear    0.0
CouponUsed                     0.0
OrderCount                     0.0
DaySinceLastOrder              0.0
dtype: float64

In [27]:
# create dummies out of categorical variables

from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder()

columns_to_onehot = ['PreferredLoginDevice', 'PreferredPaymentMode', 'Gender', 'PreferedOrderCat', 'MaritalStatus']

df_with_dummies = encoder.fit_transform(df_updated[columns_to_onehot]).toarray()

df_onehot_encoded = pd.DataFrame(df_with_dummies, columns=encoder.get_feature_names_out(columns_to_onehot))

df_final = pd.concat([df_updated.drop(columns=columns_to_onehot), df_onehot_encoded], axis=1)

df_final.head()

,CustomerID,Churn,CityTier,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,CashbackAmount,Tenure,WarehouseToHome,...,Gender_Male,PreferedOrderCat_Fashion,PreferedOrderCat_Grocery,PreferedOrderCat_Laptop & Accessory,PreferedOrderCat_Mobile,PreferedOrderCat_Mobile Phone,PreferedOrderCat_Others,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,50001,1,3,3,2,9,1,159.93,4.0,6.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,50002,1,1,4,3,7,1,120.90,8.0,8.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,50003,1,1,4,3,6,1,120.28,9.0,30.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,50004,1,3,4,5,8,0,134.07,0.0,15.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,50005,1,1,3,5,3,0,129.60,0.0,12.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [28]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5630 entries, 0 to 5629
Data columns (total 36 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   CustomerID                             5630 non-null   int64
 1   Churn                                  5630 non-null   int64
 2   CityTier                               5630 non-null   int64
 3   NumberOfDeviceRegistered               5630 non-null   int64
 4   SatisfactionScore                      5630 non-null   int64
 5   NumberOfAddress                        5630 non-null   int64
 6   Complain                               5630 non-null   int64
 7   CashbackAmount                         5630 non-null   float64
 8   Tenure                                 5630 non-null   float64
 9   WarehouseToHome                        5630 non-null   float64
 10  HourSpendOnApp                         5630 non-null   float64
 11  OrderAmountHikeFromlastYear            5630 non-null   float64
 12  CouponUsed                             5630 non-null   float64
 13  OrderCount                             5630 non-null   float64
 14  DaySinceLastOrder                      5630 non-null   float64
 15  PreferredLoginDevice_Computer          5630 non-null   float64
 16  PreferredLoginDevice_Mobile Phone      5630 non-null   float64
 17  PreferredLoginDevice_Phone             5630 non-null   float64
 18  PreferredPaymentMode_CC                5630 non-null   float64
 19  PreferredPaymentMode_COD               5630 non-null   float64
 20  PreferredPaymentMode_Cash on Delivery  5630 non-null   float64
 21  PreferredPaymentMode_Credit Card       5630 non-null   float64
 22  PreferredPaymentMode_Debit Card        5630 non-null   float64
 23  PreferredPaymentMode_E wallet          5630 non-null   float64
 24  PreferredPaymentMode_UPI               5630 non-null   float64
 25  Gender_Female                          5630 non-null   float64
 26  Gender_Male                            5630 non-null   float64
 27  PreferedOrderCat_Fashion               5630 non-null   float64
 28  PreferedOrderCat_Grocery               5630 non-null   float64
 29  PreferedOrderCat_Laptop & Accessory    5630 non-null   float64
 30  PreferedOrderCat_Mobile                5630 non-null   float64
 31  PreferedOrderCat_Mobile Phone          5630 non-null   float64
 32  PreferedOrderCat_Others                5630 non-null   float64
 33  MaritalStatus_Divorced                 5630 non-null   float64
 34  MaritalStatus_Married                  5630 non-null   float64
 35  MaritalStatus_Single                   5630 non-null   float64
dtypes: float64(29), int64(7)
memory usage: 1.5 MB

In [29]:
relevant_df = df_final.drop(["CustomerID"],axis=1)
relevant_df.head()

,Churn,CityTier,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,CashbackAmount,Tenure,WarehouseToHome,HourSpendOnApp,...,Gender_Male,PreferedOrderCat_Fashion,PreferedOrderCat_Grocery,PreferedOrderCat_Laptop & Accessory,PreferedOrderCat_Mobile,PreferedOrderCat_Mobile Phone,PreferedOrderCat_Others,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,1,3,3,2,9,1,159.93,4.0,6.0,3.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1,1,4,3,7,1,120.90,8.0,8.0,3.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,1,1,4,3,6,1,120.28,9.0,30.0,2.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,1,3,4,5,8,0,134.07,0.0,15.0,2.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1,1,3,5,3,0,129.60,0.0,12.0,3.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [30]:
# Split our preprocessed data into our features and target arrays
X = relevant_df.drop('Churn', axis=1).values
y = relevant_df['Churn'].values

# Split into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

In [31]:
X

array([[3., 3., 2., ..., 0., 0., 1.],
       [1., 4., 3., ..., 0., 0., 1.],
       [1., 4., 3., ..., 0., 0., 1.],
       ...,
       [1., 2., 4., ..., 0., 1., 0.],
       [3., 5., 4., ..., 0., 1., 0.],
       [1., 2., 3., ..., 0., 1., 0.]])

In [32]:
import numpy as np

# get counts of 1s vs 0s to determine class imbalance
counts = np.bincount(y)

num_zeros = counts[0]
num_ones = counts[1]

print(f"Number of 0s in 'y': {num_zeros}")
print(f"Number of 1s in 'y': {num_ones}")

Number of 0s in 'y': 4682
Number of 1s in 'y': 948

In [34]:
# will need to resample training data due to class imbalance outlined above
from imblearn.over_sampling import RandomOverSampler

ros = RandomOverSampler(random_state=1)

X_train_resampled, y_train_resampled = ros.fit_resample(X_train, y_train)

In [40]:
counts = np.bincount(y_train_resampled)

num_zeros = counts[0]
num_ones = counts[1]

print(f"Number of 0s in 'y': {num_zeros}")
print(f"Number of 1s in 'y': {num_ones}")

Number of 0s in 'y': 3506
Number of 1s in 'y': 3506

NameError: name 'X_train_scaled' is not defined

In [39]:
# finally, scale the data
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_train_resampled_scaled = scaler.fit_transform(X_train_resampled)

# Apply the same to the testing data
X_test_scaled = scaler.transform(X_test)

In [41]:
print(len(X_train_resampled_scaled[0]))

34

In [42]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_resampled_scaled[0])
hidden_layer1 = 80
hidden_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                2800

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5261 (20.55 KB)
Trainable params: 5261 (20.55 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [43]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [44]:
fit_model = nn.fit(X_train_resampled_scaled,y_train_resampled,epochs=50)

Epoch 1/50
220/220 [==============================] - 1s 847us/step - loss: 0.5517 - accuracy: 0.7242
Epoch 2/50
220/220 [==============================] - 0s 853us/step - loss: 0.4171 - accuracy: 0.8062
Epoch 3/50
220/220 [==============================] - 0s 850us/step - loss: 0.3560 - accuracy: 0.8364
Epoch 4/50
220/220 [==============================] - 0s 841us/step - loss: 0.3230 - accuracy: 0.8541
Epoch 5/50
220/220 [==============================] - 0s 830us/step - loss: 0.2971 - accuracy: 0.8761
Epoch 6/50
220/220 [==============================] - 0s 824us/step - loss: 0.2682 - accuracy: 0.8929
Epoch 7/50
220/220 [==============================] - 0s 832us/step - loss: 0.2460 - accuracy: 0.9007
Epoch 8/50
220/220 [==============================] - 0s 845us/step - loss: 0.2216 - accuracy: 0.9133
Epoch 9/50
220/220 [==============================] - 0s 844us/step - loss: 0.2026 - accuracy: 0.9284
Epoch 10/50
220/220 [==============================] - 0s 835us/step - loss: 0.1881 - accuracy: 0.9294
Epoch 11/50
220/220 [==============================] - 0s 833us/step - loss: 0.1697 - accuracy: 0.9408
Epoch 12/50
220/220 [==============================] - 0s 839us/step - loss: 0.1570 - accuracy: 0.9477
Epoch 13/50
220/220 [==============================] - 0s 824us/step - loss: 0.1435 - accuracy: 0.9541
Epoch 14/50
220/220 [==============================] - 0s 897us/step - loss: 0.1361 - accuracy: 0.9532
Epoch 15/50
220/220 [==============================] - 0s 932us/step - loss: 0.1209 - accuracy: 0.9616
Epoch 16/50
220/220 [==============================] - 0s 834us/step - loss: 0.1133 - accuracy: 0.9661
Epoch 17/50
220/220 [==============================] - 0s 838us/step - loss: 0.1079 - accuracy: 0.9661
Epoch 18/50
220/220 [==============================] - 0s 839us/step - loss: 0.0959 - accuracy: 0.9749
Epoch 19/50
220/220 [==============================] - 0s 835us/step - loss: 0.0906 - accuracy: 0.9726
Epoch 20/50
220/220 [==============================] - 0s 828us/step - loss: 0.0849 - accuracy: 0.9745
Epoch 21/50
220/220 [==============================] - 0s 825us/step - loss: 0.0815 - accuracy: 0.9738
Epoch 22/50
220/220 [==============================] - 0s 840us/step - loss: 0.0753 - accuracy: 0.9769
Epoch 23/50
220/220 [==============================] - 0s 830us/step - loss: 0.0733 - accuracy: 0.9772
Epoch 24/50
220/220 [==============================] - 0s 834us/step - loss: 0.0663 - accuracy: 0.9813
Epoch 25/50
220/220 [==============================] - 0s 837us/step - loss: 0.0614 - accuracy: 0.9833
Epoch 26/50
220/220 [==============================] - 0s 841us/step - loss: 0.0718 - accuracy: 0.9762
Epoch 27/50
220/220 [==============================] - 0s 844us/step - loss: 0.0581 - accuracy: 0.9845
Epoch 28/50
220/220 [==============================] - 0s 826us/step - loss: 0.0535 - accuracy: 0.9855
Epoch 29/50
220/220 [==============================] - 0s 864us/step - loss: 0.0500 - accuracy: 0.9860
Epoch 30/50
220/220 [==============================] - 0s 887us/step - loss: 0.0457 - accuracy: 0.9882
Epoch 31/50
220/220 [==============================] - 0s 846us/step - loss: 0.0404 - accuracy: 0.9912
Epoch 32/50
220/220 [==============================] - 0s 835us/step - loss: 0.0427 - accuracy: 0.9880
Epoch 33/50
220/220 [==============================] - 0s 836us/step - loss: 0.0466 - accuracy: 0.9850
Epoch 34/50
220/220 [==============================] - 0s 843us/step - loss: 0.0361 - accuracy: 0.9913
Epoch 35/50
220/220 [==============================] - 0s 837us/step - loss: 0.0351 - accuracy: 0.9909
Epoch 36/50
220/220 [==============================] - 0s 830us/step - loss: 0.0318 - accuracy: 0.9923
Epoch 37/50
220/220 [==============================] - 0s 822us/step - loss: 0.0296 - accuracy: 0.9930
Epoch 38/50
220/220 [==============================] - 0s 825us/step - loss: 0.0294 - accuracy: 0.9917
Epoch 39/50
220/220 [==============================] - 0s 827us/step - loss: 0.0300 - accuracy: 0.9926
Epoch 40/50
220/220 [==============================] - 0s 818us/step - loss: 0.0282 - accuracy: 0.9930
Epoch 41/50
220/220 [==============================] - 0s 826us/step - loss: 0.0271 - accuracy: 0.9914
Epoch 42/50
220/220 [==============================] - 0s 836us/step - loss: 0.0222 - accuracy: 0.9952
Epoch 43/50
220/220 [==============================] - 0s 828us/step - loss: 0.0291 - accuracy: 0.9917
Epoch 44/50
220/220 [==============================] - 0s 859us/step - loss: 0.0249 - accuracy: 0.9930
Epoch 45/50
220/220 [==============================] - 0s 918us/step - loss: 0.0268 - accuracy: 0.9924
Epoch 46/50
220/220 [==============================] - 0s 846us/step - loss: 0.0243 - accuracy: 0.9934
Epoch 47/50
220/220 [==============================] - 0s 838us/step - loss: 0.0360 - accuracy: 0.9890
Epoch 48/50
220/220 [==============================] - 0s 842us/step - loss: 0.0188 - accuracy: 0.9956
Epoch 49/50
220/220 [==============================] - 0s 828us/step - loss: 0.0185 - accuracy: 0.9952
Epoch 50/50
220/220 [==============================] - 0s 831us/step - loss: 0.0150 - accuracy: 0.9961

In [45]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

44/44 - 0s - loss: 0.1735 - accuracy: 0.9503 - 122ms/epoch - 3ms/step
Loss: 0.17345690727233887, Accuracy: 0.9502840638160706

## Model with auto-optimisation

In [46]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=100,
        step=5), activation=activation, input_dim=len(X_train_resampled_scaled[0])))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=100,
            step=5),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [47]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=50,
    hyperband_iterations=2)

Using TensorFlow backend

In [48]:
tuner.search(X_train_resampled_scaled,y_train_resampled,epochs=50,validation_data=(X_test_scaled,y_test))

Trial 180 Complete [00h 00m 16s]
val_accuracy: 0.9552556872367859

Best val_accuracy So Far: 0.9829545617103577
Total elapsed time: 00h 15m 24s

In [49]:
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'tanh',
 'first_units': 81,
 'num_layers': 5,
 'units_0': 96,
 'units_1': 21,
 'units_2': 16,
 'units_3': 31,
 'units_4': 26,
 'units_5': 1,
 'tuner/epochs': 50,
 'tuner/initial_epoch': 0,
 'tuner/bracket': 0,
 'tuner/round': 0}

In [50]:
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

44/44 - 0s - loss: 0.0861 - accuracy: 0.9830 - 173ms/epoch - 4ms/step
Loss: 0.08609770238399506, Accuracy: 0.9829545617103577